<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       

        <div class="container">
        <%= image_tag("apartments_1.jpg", :alt => "design", class:"bd-placeholder-img capa-carro") %>
          <div class="carousel-caption">
            <h1>R. Fernando de Albuquerque, 86 - Consolação - CS003</h1>
            <p><a class="btn btn-lg btn-dark" href="#">info</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        

        <div class="container">
        <%= image_tag("apartments_2.jpg", :alt => "design", class:"bd-placeholder-img capa-carro") %>
          <div class="carousel-caption">
            <h1>R. Gararu, 140 - Vila Nova Conceição - N012</h1>
            <p><a class="btn btn-lg btn-dark" href="#">info</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="container">
          <%= image_tag("apartments_4.jpg", :alt => "design",class:"bd-placeholder-img capa-carro") %> 
          <div class="carousel-caption">
            <h1>R. Pedroso Alvarenga, 505 - Itaim Bibi - I113</h1>
            <p><a class="btn btn-lg btn-dark" href="#">info</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-4">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        
        <%= image_tag("apartments_9.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle seg-carro") %>
        

        <h2>R. Carlos Góis, 476 AP 103</h2>
        <p>Rooms equipped with Smart TV, cable TV and Wi-Fi. And when you want to relax, you'll be happy to discover that each Tabas room comes with high-quality mattresses, luxury linens and towels. And these are just some of the amenities of this apartment.</p>
        <p><a class="btn btn-dark" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4"> 
                       
            <%= image_tag("apartments_8.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle seg-carro") %>
                
            <h2>R. Visconde de Pirajá, 22</h2>
            <p> In it you will find modern and sophisticated furniture, fully equipped kitchen with first-rate appliances, coffee machine in capsules and utensils such as crockery, bowls, pan sets, cutlery and so on.</p>
            <p><a class="btn btn-dark" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("apartments_7.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle seg-carro") %>
        
        <h2>R. Redentor, 291</h2>
        <p> In it you will find modern and sophisticated furniture, fully equipped kitchen with first-rate appliances, coffee machine in capsules and utensils such as crockery, bowls, pan sets, cutlery and so on</p>
        <p><a class="btn btn-dark" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">R. Carlos Góis, 476 AP 103 - <span class="text-muted">Leblon - LB016.</span></h2>
        <p class="lead">This Tabas apartment located in Leblon - Rio de Janeiro, close to restaurants such as Olivia Saladas, Café Cardin, Mc Donald's. 110 meters from ZonaSul Supermarket, 130 meters from Bodytech, 500 meters from Leblon Beach. In it you will find modern and sophisticated furniture, fully equipped kitchen with first-rate appliances, coffee machine in capsules and utensils such as crockery, bowls, pan sets, cutlery and so on. Rooms equipped with Smart TV, cable TV and Wi-Fi. And when you want to relax, you'll be happy to discover that each Tabas room comes with high-quality mattresses, luxury linens and towels. And these are just some of the amenities of this apartment. We take care of everything so that you can simply enjoy your stay and feel at home.</p>
      </div>
      <div class="col-md-5">
        
        <%= image_tag("apartments_12.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle ter-carro") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">R. Redentor, 291 - <span class="text-muted">Ipanema - IP009 </span></h2>
        <p class="lead">This Tabas apartment located in Ipanema - Rio de Janeiro, close to restaurants such as Posí Mozza & Mare, Gurumê, Esplanada Grill. 180 meters from Bodytech, 300 meters from Loja Americanas and 350 meters from ZonaSul Supermarket. In it you will find modern and sophisticated furniture, fully equipped kitchen with first-rate appliances, coffee machine in capsules and utensils such as crockery, bowls, pan sets, cutlery and so on. Rooms equipped with Smart TV, cable TV and Wi-Fi. And when you want to relax, you'll be happy to discover that each Tabas room comes with high-quality mattresses, luxury linens and towels. And these are just some of the amenities of this apartment. We take care of everything so that you can simply enjoy your stay and feel at home.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("apartments_13.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle ter-carro") %>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">R. Visconde de Pirajá, 22 - <span class="text-muted">Ipanema - IP006</span></h2>
        <p class="lead">This Tabas apartment located in Ipanema - Rio de Janeiro, close to restaurants such as Zé Boteco, Copanema Mix, Osório Bar. 1 meter from HortiFruti, 100 meters from Bodytech and 140 meters from ZonaSul Supermarket. In it you will find modern and sophisticated furniture, fully equipped kitchen with first-rate appliances, coffee machine in capsules and utensils such as crockery, bowls, pan sets, cutlery and so on. Rooms equipped with Smart TV, cable TV and Wi-Fi. And when you want to relax, you'll be happy to discover that each Tabas room comes with high-quality mattresses, luxury linens and towels. And these are just some of the amenities of this apartment. We take care of everything so that you can simply enjoy your stay and feel at home.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("apartments_14.jpg", :alt => "design",class:"bd-placeholder-img rounded-circle ter-carro") %>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

   <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2021 Tabas, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>