    <div id="index">
        <section id="home" class="d-flex"><!-- inicio home-->
            <div class="container align-self-center"><!-- inicio container-->
            <div class="row"><!-- inicio row-->
                <div class="col-md-12 centralizar">

                    <h1 class="capa margin">Your home wherever you are</h1>
                    <h6 class="capa">Beautifully designed, fully furnished apartments in São Paulo and Rio de Janeiro to make you feel at home</h6>

                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-light">Explore a place</button>

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Search
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li>
                            <%= link_to 'Rio de Janeiro', home_houses_path, class:"dropdown-item" %>
                            </li>
                            <li>
                            <%= link_to 'São Paulo', home_houses_path, class:"dropdown-item" %>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>

            
            </div><!-- fim row-->
            </div><!-- fim container-->
        </section><!-- fim home-->

        <section id="servicos" class="caixa"><!-- INICIO Servicos -->
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>PREMIUM CHOICE</span>
                    <h3>Living in a Tabas home</h3>
                    <h5> We offer fully renovated apartments at the best locations in São Paulo and Rio de Janeiro. Ease, comfort and much more.</h5>
                    
                    <div class="row cartao">
                        <div class="col-md-6 card cartao" style="width: 18rem;">
                            <%= image_tag("icon_1.png", :alt => "design",class: "rounded mx-auto d-block img") %>
                            <div class="card-body">
                                <p class="card-text">Beautiful interior design</p>
                            </div>
                        </div>
                    
                        <div class="col-md-6 card cartao" style="width: 18rem;">
                            <%= image_tag("icon_2.png", :alt => "design",class: "rounded mx-auto d-block img") %>
                            <div class="card-body">
                                <p class="card-text">Flexible renting</p>
                            </div>
                        </div>

                        <div class="col-md-6 card cartao" style="width: 18rem;">
                            <%= image_tag("icon_3.png", :alt => "design",class: "rounded mx-auto d-block img") %>
                            <div class="card-body">
                                <p class="card-text">Support service</p>
                            </div>
                        </div>

                        <div class="col-md-6 card cartao" style="width: 18rem;">
                            <%= image_tag("icon_4.png", :alt => "design",class: "rounded mx-auto d-block img") %>
                            <div class="card-body">
                                <p class="card-text">Ultra high-speed Internet</p>
                            </div>
                        </div>
                    </div>
                    


                    <a class="btn btn-dark" href="/home/houses" role="button">Rent now</a>
                </div> 
            </div>
            </div>
        </section><!-- FIM Servicos -->

        <section id="recursos"> <!--INICIO Recursos-->
            <div class="container">
            <div class="row">

                <div class="col-md-6 text-start">
                    <span>LANDLORDS</span>
                    <h3>Renting for Tabas</h3>
                    <h5>Relax and get paid. That simple. We renew, renovate, find quality tenants and all the property management. It’s you worry-free.</h5>
                    <a class="btn btn-dark" href="/home/houses" role="button">Discover more</a>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <%= image_tag("ap_3.gif", :alt => "high tech",class: "rounded mx-auto d-block gif") %>
                        </div>
                    
                    </div>
                </div>
                
        
            </div>
            
            </div>

        </section><!--FIM Recursos-->

        <footer  class="py-5">
            <div class="container">
                
                <div class="row text-start">
                        <div class="col-2">
                            <h6>CONTACT US</h6>
                            <p>Av. Nove de Julho, 5109 2º floor, Itaim Bibi, São Paulo - SP, 01407-200</p>
                            </ul>
                        </div>

                    <div class="col-2">
                        <h6>GENERAL INFO</h6>
                        <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        </ul>
                    </div>

                    <div class="col-2">
                        <h6>FOR OWNERS</h6>
                        <p>proprietario@tabas.com.br</p>
                        <p>+55 11 4632 3312</p>
                    </div>

                    <div class="col-2">
                        <h6>FOR CORPORATE</h6>
                        <p>corporate@tabas.com.br</p>
                        <p>+55 11 4632 3312</p>
                    
                    </div>

                    
                    

                    
                </div>

                    <div class="d-flex justify-content-between py-4 my-4 border-top">
                        <p>&copy;Copyright 2021 TABAS. All rights reserved.</p> 

                        <%= image_tag("tabas.svg", :alt => "design",class: "rounded mx-auto d-block logo") %>  
                    </div>
                
            </div>

        </footer>
    </div>

  

    
  
